.primary {
  color: $primary-color;
}

.secondary {
  color: $secondary-color;
}

.text {
  color: $text-color;
}

.neutral {
  color: $neutral-color;
}

.success {
  color: $success-color;
}

.danger {
  color: $danger-color;
}

.gray {
  color: $gray-color;
}

.white {
  color: $white-color;
}

.warning {
  color: $warning-color;
}

.strikethrough {
  text-decoration: line-through;
}
