.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); // Fundo escuro para a sobreposição
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // Certifique-se de que o modal fique na frente de outros elementos
  overflow-y: auto; // Permite rolagem se o conteúdo for muito grande
}

.modal {
  background-color: #ffffff; // Fundo branco
  border-radius: 8px;
  padding: 24px; // Certifique-se de ter padding suficiente
  max-width: 900px;
  width: 100%;
  margin: 0 16px; // Para garantir espaçamento lateral
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000; // Garante que o modal fique sobre outros elementos
}

.container {
  position: relative;
}

.close {
  position: absolute;
  top: $spacing-md;
  right: $spacing-md;
  background: none;
  border: none;
  cursor: pointer;
}

.image {
  width: 300px;
  height: 400px;
  object-fit: contain;

  @include respond-to('mobile') {
    width: 240px;
    height: 320px;
    margin: 0 auto;
  }
}

.detail {
  flex: 1;
}

.shimmer-placeholder {
  width: 300px;
  height: 400px;

  @include respond-to('mobile') {
    width: 240px;
    height: 320px;
    margin: 0 auto;
  }
}
