.header {
  background-color: $primary-color;
  height: 8rem;
  width: 100%;
  padding-left: $spacing-md-lg;
  padding-right: $spacing-md-lg;
  display: flex;
  align-items: center;
  justify-content: center;
}
