body {
  color: $text-color;
  background-color: #f9f9f9;
}

.bg-primary {
  background-color: $primary-color;
}

.bg-secondary {
  background-color: $secondary-color;
}

.bg-neutral {
  background-color: $neutral-color;
}

.bg-success {
  background-color: $success-color;
}

.bg-danger {
  background-color: $danger-color;
}

.bg-gray {
  background-color: $gray-color;
}

.bg-white {
  background-color: $white-color;
}

.bg-info {
  background-color: $info-color;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}
